# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# CODEOWNERS will be requested for
# review when someone opens a pull request.
*       @ptqa @ulmen @ivanssimple @deveon @TokRa13 @pkatiushyn @wikarocha @johnmadden-sp @ksilp
